<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    /* Make the icons display inline */
    .social-media {
        list-style-type: none; /* Removes the default bullet points */
        padding: 0; /* Removes the default padding */
    }

    .social-media li {
        display: inline-block; /* Makes list items display side-by-side */
        margin-right: 10px; /* Space between icons */
    }

    .social-media a {
        color: inherit; /* Keeps the color consistent */
        text-decoration: none; /* Removes underlines */
    }

    /* Address potential footer cut-off issues */
    footer {
        padding: 20px 0; /* Add some vertical padding to the footer for breathing space */
    }

    /* If more footer styling adjustments are needed, add them here */
</style>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>Copyright &copy; 2023 Dreaddy Bear</p>
            </div>
            <div class="col-sm-6">
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/Dreaddybearmusic" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/dreaddybear" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/dreaddybearmusic" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>