<nav>
    <ul class="navbar">
        <li><a href="#">Contact</a></li>
        <li>
            <a href="#">Music</a>
            <ul class="submenu">
                <li><a href="https://dreaddybear.bandcamp.com/">Bandcamp</a></li>
                <li><a href="https://open.spotify.com/artist/2Y5cVABDv3tlprqWSHx2Op">Spotify</a></li>
                <li><a href="https://soundcloud.com/dreaddybear">SoundCloud</a></li>
                <li><a href="https://music.apple.com/us/artist/dreaddy-bear/1384832055">Apple Music</a></li>
                <li><a href="https://soundcloud.com/dreaddybear/444-twenty">Latest Mix</a></li>
            </ul>
        </li>
        <li><a href="#">Shows</a></li>
        <li><a href="pages/playlist.html">Spotify Playlist</a></li>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Free stuff</a></li>
        <li>
            <a href="https://github.com/ParkerTonra">Github</a>
            <ul class="submenu">
                <li><a href="wheel.html">Wheel</a></li>
            </ul>
        </li>
        <li><a href="pages/soundbored.html">Soundbored</a></li>
        <li><a href="#index.html">Home</a></li>
    </ul>
</nav>