<nav>
    <ul class="navbar">
        <li><a href="/pages/playlist.html">Contact</a></li>
        <li>
            <a href="https://soundcloud.com/dreaddybear" target="_blank" rel="noopener noreferrer">Music</a>
            <ul class="submenu">
                <li><a href="https://dreaddybear.bandcamp.com/" target="_blank" rel="noopener noreferrer">Bandcamp</a></li>
                <li><a href="https://open.spotify.com/artist/2Y5cVABDv3tlprqWSHx2Op" target="_blank" rel="noopener noreferrer">Spotify</a></li>
                <li><a href="https://soundcloud.com/dreaddybear" target="_blank" rel="noopener noreferrer">SoundCloud</a></li>
                <li><a href="https://music.apple.com/us/artist/dreaddy-bear/1384832055" target="_blank" rel="noopener noreferrer">Apple Music</a></li>
                <li><a href="https://soundcloud.com/dreaddybear/444-twenty" target="_blank" rel="noopener noreferrer">Latest Mix</a></li>
            </ul>
        </li>
        <li><a href="#">Shows</a></li>
        <li><a href="/pages/playlist.html">Spotify Playlist</a></li>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer">Free stuff</a></li>
        <li>
            <a href="https://github.com/ParkerTonra" target="_blank" rel="noopener noreferrer">Github</a>
            <ul class="submenu">
                <li><a href="/pages/wheel.html">Wheel</a></li>
            </ul>
        </li>
        <li><a href="/pages/soundbored.html">Soundbored</a></li>
        <li><a href="/index.html">Home</a></li>
    </ul>
</nav>